.App {
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

/*.App-header {
  background-color: black;
  min-height: 100vh;
  position: sticky;
  flex-direction: column;
  align-items: center;
  color: white;
}
 */

.Display {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: darkgrey;
  padding: 0 2em;
  margin: 1em;
  margin-bottom: -20px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
}
