.container {
  overflow: scroll;
}

.lista {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
  padding: 0 2em;
  margin: 1em;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  border-radius: 6px;
  align-items: center;
}

.photo {
  height: 80px;
  width: 80px;
  border-radius: 6px;
  border: 2px solid #3f69fa;
  text-align: center;
}
